@import url(reset.scss);
@import url(variables.scss);
.header {
  padding: 1.25rem;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 1;
  color: #FFF;
}

.navList {
  display: flex;
  gap: 4rem;
  row-gap: 2.5rem;
  text-align: center;
  cursor: pointer;
}

.head-2-text-two-img img {
  width: 100%;
}

.img-1 {
  margin-top: -80px;
  height: 100vh;
}

.aa {
  height: 600px;
}

.section {
  margin-top: 3rem;
}

.head-2-text {
  background-color: #fff;
  margin-top: -35px;
  border-radius: 38px;
  padding: 3rem;
  padding-left: 86px;
  padding-right: 115px;
}

.cont-text {
  margin-top: 1rem;
  margin-left: 10px;
  color: #333;
  font-family: San Francisco;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 95%; /* 22.8px */
}

.cont-head {
  margin-bottom: 2rem;
  color: #333;
  font-family: San Francisco;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 95%; /* 45.6px */
  text-transform: capitalize;
}

.head-img-h3 {
  margin-top: 8rem;
  margin-left: 7rem;
  color: #fff;
  font-family: San Francisco;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 82.8px */
  text-transform: capitalize;
}

.head-img-h4 {
  color: #FFF;
  margin-left: 7rem;
  font-family: San Francisco;
  font-size: 67px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  text-transform: capitalize;
}

.svs {
  margin-bottom: 10px;
}

.head-2-textOne {
  color: #333;
  font-family: San Francisco;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 95%; /* 15.2px */
}

.head-2-textTwo {
  color: #333;
  font-family: San Francisco;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 40px */
}

.head-2-textThree {
  color: #11A3FF;
  font-family: San Francisco;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.search-box {
  font-family: "Candara", sans-serif;
  background: #333A45;
  height: 40px;
  padding: 0px 10px;
  border-radius: 40px;
  box-shadow: 0 0 25px 0 rgba(51, 58, 69, 0.4);
}

.search-box input {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  width: 0px;
  transition: all 0.8s;
}

.search-box:hover input {
  width: 210px;
  padding: 0 6px;
}

.search-box input:focus {
  width: 240px;
  padding: 0 6px;
}

.search-btn {
  border: none;
  background: none;
  outline: none;
  width: 26px;
  margin-top: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-btn i {
  z-index: 1;
  background: #fff;
  font-size: 22px;
  color: #333A45;
  padding: 12px;
  border-radius: 50px;
  box-shadow: 0 0 25px 0 rgba(0, 184, 148, 0.4);
}

.head-3-icons {
  display: grid;
}

.head-3-iconOne {
  margin-left: 1.8rem;
}

.head-3-iconTwo {
  margin-left: 6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.head-3-iconThree {
  margin-left: 2rem;
}

.head-3-text-3 {
  color: #11A3FF;
  font-family: San Francisco;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 2rem;
}

.head-3-text-1 {
  color: #333;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-family: San Francisco;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 95%; /* 45.6px */
}

.head-3-text-2 {
  color: #333;
  margin-bottom: 3rem;
  font-family: San Francisco;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 34.8px */
}

.head-3-text-4 {
  color: #333;
  font-family: San Francisco;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.head-3-textTwo-3 {
  color: #11A3FF;
  font-family: San Francisco;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 2rem;
}

.head-3-textTwo-1 {
  color: #333;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-family: San Francisco;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 95%; /* 45.6px */
}

.head-3-textTwo-2 {
  color: #333;
  margin-bottom: 3rem;
  font-family: San Francisco;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; /* 34.8px */
}

.head-3-textTwo-4 {
  color: #333;
  font-family: San Francisco;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.head-3-textTwo-3-3 {
  margin-top: 17.3rem;
}

.head-4-cardOne {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  border: 8px solid #fff;
  position: relative;
}

.head-4-cardOne-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.head-4-cardOneBody {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background-color: rgba(31, 61, 71, 0.2196078431);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 15px;
  color: white;
  /* padding: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1.4s;
}

.head-4-cardOneTitle {
  padding: 26px;
  text-align: justify;
}

.head-4-cardOne:hover .head-4-cardOneBody {
  right: 0;
}

.head-4-tel {
  color: #fff;
}

.head-4-headText {
  margin-bottom: 1rem;
}
.head-4-headText h3 {
  color: #333;
  font-family: San Francisco;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 95%; /* 45.6px */
}

.head-5-cardOne {
  width: 320px;
  height: 500px;
  border-radius: 20px;
  border: 8px solid #fff;
  position: relative;
}

.head-5-cardOne-img {
  width: 500px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  position: absolute;
  z-index: 99999;
}

.head-5-cardOneBody {
  width: 450px;
  height: 400px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1.4s;
  border-radius: 25px;
  background: #070707;
  padding: 30px;
}

.head-5-cardOneTitle {
  margin-top: 1rem;
  padding: 23px;
  color: #FFF;
  font-family: San Francisco;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%;
}

.head-5-cardOne:hover .head-5-cardOneBody {
  left: 560px;
}

.head-5-cardOneTitleSp {
  color: #11A3FF;
  font-family: San Francisco;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%; /* 55.2px */
}

.head-5-cardOneTitleP {
  color: rgba(255, 255, 255, 0.8);
  font-family: San Francisco;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 30px */
}

.head-5-cardOne-little-icon {
  color: #11A3FF;
  padding: 23px;
  font-family: San Francisco;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: -28px;
}

.head-5-cardOne-little-text {
  color: #11A3FF;
}/*# sourceMappingURL=style.css.map */