@import url(reset.scss);
@import url(variables.scss);
// --------HEADER--SECTİON----START---

header {
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
   background-color: #79838d8e;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
}
.group {
  display: flex;
  align-items: center;
}
header ul {
  position: relative;
  display: flex;
  gap: 30px;
}
header ul li {
  list-style: none;
}
header ul li a {
  position: relative;
  text-decoration: none;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
header ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #11A3FF;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}
header ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
header .search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  z-index: 10;
  cursor: pointer;
}
body{
  width: 100%;
}
.searchBox {
  position: absolute;
   right: -100%;
   display: none;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #78828B;

  align-items: center;
  padding: 0 30px;
  transition: 0.5s ease-in-out;
}
.searchBox.active {
  right: 0;
  display: block;
}
.searchBox input {
  width: 100%;
  border: none;
  outline: none;
  height: 50px;
  color: #fff;
  font-size: 1.25em;
  background-color: #78828B;
  // background-color: #79838d8e;


  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.searchBtn {
  position: relative;
  color: #fff;
  left: 30px;
  top: 2.5px;
  transition: 0.5s ease-in-out;
}
.searchBtn.active {
  color: #333;
  left: 0;
}
.closeBtn {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  scale: 0;
}
.closeBtn.active {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
  scale: 1;
}
.menuToggle {
  position: relative;
  display: none;
}

input::placeholder{
  color: #0f0202af;

  
}

// --------HEADER--SECTİON----END---
// --------SLİDER----START----


.swiper {
  width: 100%;
  height: 100%;
  border-radius: 27px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.name{
  color: #333;

font-family: "San Francisco";
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 95%; /* 22.8px */
}

.swiper {
  width: 100%;
  height: 100%;
  margin: 20px auto;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.cardOne-content {
  display: flex;
  // flex-direction: column;
  // align-items: center;
  padding: 10px 0;
}
// --------SLİDER----END----
.img-1{
    margin-top: -80px;
     height: 100vh;
}
.section-1{
    height: 600px;
}
// All Section Style
.section{

    margin-top: 3rem;
}
// All Section Style

.head-2-text{
    background-color: #fff;
    margin-top: -35px;
    border-radius: 38px;
    padding: 3rem;
    padding-left: 86px;
    padding-right: 115px;
}

.cont-text{
    margin-top: 1rem;
    margin-left: 10px;
    color: #333;
font-family: San Francisco;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 95%; /* 22.8px */
}
.cont-head{
    margin-bottom: 2rem;
    color: #333;
font-family: San Francisco;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 95%; /* 45.6px */
text-transform: capitalize;
}
.head-img-h3{
  padding-top: 8rem;
    margin-top:0;
    margin-left: 7rem;
    color: #fff;
    font-family: San Francisco;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 82.8px */
    text-transform: capitalize;
}
.head-img-h4{
    color: #FFF;
    margin-left: 7rem;
font-family: San Francisco;
font-size: 67px;
font-style: normal;
font-weight: 400;
line-height: 115%;
text-transform: capitalize;
}
.svs{
    margin-bottom: 10px;
}
.head-2-textOne{
    color: #333;

font-family: San Francisco;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 95%; /* 15.2px */
}
.head-2-textTwo{
    color: #333;
font-family: San Francisco;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 40px */
}
.head-2-textThree{
    color: #11A3FF;

font-family: San Francisco;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.search-box{
    font-family: "Candara", sans-serif;
    // position: absolute;
    background: #333A45;
    height: 40px;
    padding: 0px 10px;
    border-radius: 40px;
    box-shadow: 0 0 25px 0 rgba(51, 58, 69, 0.4);
  }
  
  .search-box input{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    width: 0px;
    transition: all 0.8s;
  }
  
  .search-box:hover input{
    width: 210px;
    padding: 0 6px;
  }
  
  .search-box input:focus{
    width: 240px;
    padding: 0 6px;
  }
  
  .search-btn{
    border: none;
    background: none;
    outline: none;
    width: 26px;
    margin-top: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .search-btn i{
    z-index: 1;
    background: #fff;
    font-size: 22px;
    color: #333A45;
    padding: 12px;
    border-radius: 50px;
    box-shadow: 0 0 25px 0 rgba(0, 184, 148, 0.4);
  }

  .head-3-icons{
    display: grid;
  }
  .head-3-iconOne{
    margin-left: 1.8rem;
  }
  .head-3-iconTwo{
    margin-left: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .head-3-iconThree{
    margin-left: 2rem;
  }
  .head-3-text-3{
    color: #11A3FF;
font-family: San Francisco;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin-top: 2rem;
  }
  .head-3-text-1{
    color: #333;
    margin-top: 2rem;
    margin-bottom: 3rem;
font-family: San Francisco;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 95%; /* 45.6px */
  }
  .head-3-text-2{
    color: #333;
    margin-bottom: 3rem;
font-family: San Francisco;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 145%; /* 34.8px */
  }
  .head-3-text-4{
    color: #333;
font-family: San Francisco;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
  }

//   ....

  .head-3-textTwo-3{
    color: #11A3FF;
font-family: San Francisco;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin-top: 2rem;
  }
  .head-3-textTwo-1{
    color: #333;
    margin-top: 2rem;
    margin-bottom: 3rem;
font-family: San Francisco;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 95%; /* 45.6px */
  }
  .head-3-textTwo-2{
    color: #333;
    margin-bottom: 3rem;
font-family: San Francisco;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 145%; /* 34.8px */
  }
  .head-3-textTwo-4{
    color: #333;
font-family: San Francisco;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
  }
  .head-3-textTwo-3-3{
    margin-top: 17.3rem;
  }
  
//   --------HEAD-4---CARDS--START------


.head-4-cardOne {
    width: 100%;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid #fff;
    position: relative;
  }
  .head-4-cardOne-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  .head-4-cardOneBody {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: white;
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.4s;
  }
  .head-4-cardOneTitle {
    padding: 26px;
    text-align: justify;
  }
  .head-4-cardOne:hover .head-4-cardOneBody {
    right: 0;
  }
  .head-4-tel{
    color: #fff;
  }
  .head-4-headText {

    margin-bottom: 1rem;

    &   h3{
        color: #333;
    
    font-family: San Francisco;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 95%; /* 45.6px */
      }

  }

//   --------HEAD-5-SECTİON--CARD----



  .head-5-cardOne {
    width: 320px;
    // height: 500px;
    border-radius: 20px;
  
    border: 8px solid #fff;
    position: relative;
  }
  .head-5-cardOne-img {
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    position: relative;
    z-index: 99999;
  }
  .head-5-cardOneBody {
    width: 450px;
    height: 400px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.4s;
    border-radius: 25px;
    background: #070707;
    padding: 30px;
  }
  .head-5-cardOneTitle {
    margin-top: 1rem;
    padding: 23px;
    color: #FFF;

font-family: San Francisco;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 115%;
    // text-align: justify;
  }
  .head-5-cardOne:hover .head-5-cardOneBody {
    left: 560px;
  }
  .head-5-cardOneTitleSp{
    color: #11A3FF;

font-family: San Francisco;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 115%; /* 55.2px */
  }
  .head-5-cardOneTitleP{
    color: rgba(255, 255, 255, 0.80);
font-family: San Francisco;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 30px */
  }
  .head-5-cardOne-little-icon{
    color: #11A3FF;
    padding: 23px;

font-family: San Francisco;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: -28px;
  }
  .head-5-cardOne-little-text{
    color: #11A3FF;
  }

  // ------------HEAD-6--------

  .head-6-text-1{
    color: #333;
font-family: "San Francisco";
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 115%; /* 55.2px */
  }
  .head-6-text-2{
    color: #3A9E0B;

font-family: "San Francisco";
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 115%;
  }
  .head-6-img{
    width: 339px;
    height: 517px;
  }
  .head-6-image{
    width: 100%;
  }

  .head-6-box-1{
    display: flex;
    justify-content: space-between;
    height: 340px;
  }
  .head-6-box-2-icons{
    margin-bottom: 1rem;
  }
  .head-6-box-2-text{
    color: rgba(0, 0, 0, 0.60);
font-family: "San Francisco";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
  }
//   --------HEAD-4---CARDS--END------

.head-7-main{
  background: white;
    border-radius: 2rem;
  margin-bottom: 2rem;
  height: 260px;
  display: flex;
  justify-content: center;

    & .head-7-box{
      width: 600px;
      background-color: #070707;
      color: #F0F2F3;
      padding: 30px;
      border-radius: 25px;
      text-align: center;
      margin-bottom: 1rem;
    }

    & .head-7-box-sp{
      color: #11A3FF;
    font-family: "San Francisco";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 149.5%;
    }
}

// .......SEARCH-REQUEST...........


.searchh {
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: #fff;
  border-radius: 60px;
  transition: 0.5s;
  box-shadow: 0 0 0 5px #11A3FF; 
  overflow: hidden;
  margin-top: 2rem;
  margin-left: 95px;
}
// .active{
//   .searchIcons{
//     margin-left: 2px;
//   }
// }
.searchh.active {
  width: 360px;
}
.searchIcons {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.searchh .search-input {
  position: relative;
  width: 300px;
  height: 60px;
  left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchh .search-input input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  /* outline: navajowhite; */
  font-size: 18px;
}
.clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  // width: 15px;
  // height: 15px;
  right: 15px;
  color: #070707;
  cursor: pointer;
}



// -----------FOOTER--------
.footerr{
  margin-top: 50px;
  background-color: black;
  padding: 20px;
  position: relative;
  top: 80px;



  & .footerHead-textOne{
    color: #FFF;
  margin-top: 1rem;
  font-family: "San Francisco";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 95%; /* 15.2px */
  }
}
.footer{
  margin-top: -61px;
  background-color: black;
  padding: 20px;
  position: relative;
  top: 80px;

  & .footerHead-textOne{
    color: #FFF;
  margin-top: 1rem;
  font-family: "San Francisco";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 95%; /* 15.2px */
  }
}

.footerHead{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.footer-nav{
  display: flex;
  justify-content: space-around;
}
.footer-nav-text a{
  color: #FFF;
font-family: "San Francisco";
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer-nav-textOne{
  margin-right: 5px;
}
.footer-down-head-text{
  color: #FFF;
font-family: "San Francisco";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 95%; /* 15.2px */
}
.footer-down-head-text-2{
color: rgba(255, 255, 255, 0.60);
font-family: "San Francisco";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 14px */
}
.footer-down-mail{
  display: flex;
  flex-direction: column;

& a{
  color: rgba(255, 255, 255, 0.60);
  font-family: "San Francisco";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 14px */
}
& .footer-mail-a{
  margin-bottom: .8rem;
}
}
.footer-down-icons{
  color: #fff;
}
.iccons{
  margin-right: 10px;
}
.footer-down-icons{
  cursor: pointer;
}
.footer-inp{
  background-color: #070707;
  color: white;
}
.footer-input{
  padding-top: 1rem;
}
.footer-down{
  padding: 30px 50px;
}
.footer-end{
  color: rgba(255, 255, 255, 0.35);
text-align: center;
font-family: "San Francisco";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}



// -----------------------------------


//   ---------SUNROOM-HEAD-2--START---
.sunroom-head-1-img{
  & img{
    position: relative;
    top: 80px;
    width: 100%;
    height: 100%;
  }
}
.sunroom-head-2{
  position: relative;
  top: 5rem;
}
.sunroom-head-2-boxTwo{
  
    display: flex;
    flex-direction: column;
    gap: 7rem;
    padding: 60px 0;

}
.sunroom-head-2-box{
    display: flex;
    flex-direction: column;
    gap: 7rem;
    padding: 60px 0;
}
.box-text-1{
    color: #333;

font-family: "San Francisco";
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: 115%; /* 82.8px */
text-transform: capitalize;
}
.box-text-3{
    color: #333;

font-family: "San Francisco";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 30px */
}
.box-2-text{
    color: #333;
text-align: right;

font-family: "San Francisco";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 30px */
margin-left: 1rem;
 padding-top: 1rem
}
//   ---------SUNROOM-HEAD-2--END---

.sunroom-head-3{
  margin-bottom: 6rem;
  position: relative;
  top: 55px;
}

.villages{

  & .villagesBoxText{
    padding: 20px;

    & h3{
      font-size: 18px;
      margin-left: 3px;
    }
  }

  & img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
  }
  & .villagesBoxTextOne{
    display: flex;
    width: 60%;
    font-size: 1rem;
    background: #F5F5F5;
    border-radius: 100px;
    padding: 10px;
    margin-bottom: 10px;
    & p{
      margin-bottom: 0;
      margin-left: 10px;

    }
  }
  & .villagesBoxTextTwo{
    display: flex;
    width: 280px;
    font-size: 1rem;
    background: #F5F5F5;
    border-radius: 100px;
    padding: 10px;
    margin-bottom: 10px;
    & p{
      margin-bottom: 0;
      margin-left: 10px;
    }
  }

}
.buttonJs{
    width: 200px;
  & button{
    background: transparent;
    border: 1px solid #333333;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .5s;
    
    & a{
      color: #333333;
    }
    
  }
}
// .buttonJs:hover{
//         background-color: #070707;
//         & a{
//           color: white;
//         }
//         & svg{
//           fill: white;
//         }
// }
// ------SUNROOM.HTML-----END----

// -------PROJECTDETAİL.HTML-----START---

.project-head-1{
  position: relative;
  top: 80px;

  & h2{
    color: #333;

font-family: "San Francisco";
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: 115%; /* 82.8px */
text-transform: capitalize;
  }
}
.villagess{

    margin-left: 16rem;
  & .villagesBoxText{
    padding: 20px;

    & h3{
      font-size: 18px;
      margin-left: 3px;
    }
  }

  & img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  & .villagesBoxTextOnes{
    display: flex;
    width: 55%;
    font-size: 1rem;
    background: #F5F5F5;
    border-radius: 100px;
    padding: 10px;
    margin-bottom: 10px;
    & p{
      margin-bottom: 0;
      margin-left: 10px;

    }
  }
  & .villagesBoxTextTwos{
    display: flex;
    width: 280px;
    font-size: 1rem;
    background: #F5F5F5;
    border-radius: 100px;
    padding: 10px;
    margin-bottom: 10px;
    & p{
      margin-bottom: 0;
      margin-left: 10px;
    }
  }

}

.project-head-2{
  position: relative;
  top: 40px;

  & p{
    color: #333;

font-family: "San Francisco";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 40px */
  }
}
.project-head-3-slide{
  
  position: relative;
  top: 60px;
  & img{
    // width: 100%;
    border-radius: 25px;
    height: 600px;
    object-fit: cover;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    // height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
}

.project-head-4{
  position: relative;
  top: 80px;

  & .project-head-4-box{
    border-radius: 30px;
border: 1px solid #BABABA;
padding: 20px;
height: 100%;

    & h4{
      margin-bottom: 25px;
    }
  }
}
.project-head-4-box-img{
  width: 100%;
  height: 500px;

  & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
}
.project-head-4-box{

  & .project-head-4-box-text-one{
color: #7d7a7a;
align-self: stretch;
font-family: "San Francisco";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 20px */
letter-spacing: 0.96px;
margin-bottom: 2rem;

  }

  & .project-head-4-box-text-two{
color: #333;
font-family: "San Francisco";
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 57.6px */
text-transform: capitalize;
margin-bottom: 4rem;

  }

  & .project-head-4-box-text-three{
color: #333;
font-family: "San Francisco";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 30px */
  }

}

.project-head-5{
  position: relative;
  top: 80px;
  bottom: 20px;
}
.proje-footer{
  margin-top: -10px;
}
// -------PROJECTDETAİL.HTML-----END---

// -------PERGOLA.HTML-----START----

.pergola-head-1{
  position: relative;
  top: 80px;
}
.pergola-head-2{
  position: relative;
  top: 80px;
}
.pergola-head-4{
  position: relative;
  top: 80px;
}
.pergola-head-3{
  position: relative;
  top: 80px;
  border-radius: 30px;
background: #F0F2F3;
padding: 100px 60px;

  & h3{
    color: #171719;
font-family: "San Francisco";
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 57.6px */
  }

  & .pergola-head-3-button{

    background-color: #070707;
    border: 1px solid #333333;
    border-radius: 1000px;
    height: 50px;
    width: 36%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    transition: .5s;
    & a{
      color: #fff;
    }
  }
}
.pergola-head-3-btn svg{
  fill: white;
  transition: .5s;
}

.pergola-head-3-button:hover{
  background: transparent;
  & a{
    color: black;
}
& svg{
  fill: black;
}

}
.pergola-head-4-img{
  width: 100%;

  & img{
    width: 100%;
  }
}
.pergola-head-4-text{
  padding: 20px;

  & h3{
    color: #333;

font-family: "San Francisco";
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 100%; /* 32px */
  }

  & p{
    color: #333;

font-family: "San Francisco";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 30px */
margin-bottom: 20px !important;

  }

  & button{
     background: transparent;
    border: 1px solid #333333;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 1s;
  }
}

// -------PERGOLA.HTML-----END----


// -------BLİNDS.HTML-----START----

.blinds-head-4{
  margin-top: 40px;
  position: relative;
  top: 80px;
}


.blinds-head-4-text{

  & h3{
    margin-top: 20px;
    font-size: 2rem;
    line-height: 2rem;
  }

  & p{
    font-size: 1.5rem;
  }

}
.blinds-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blinds-head-4-img img{
  border-radius: 30px;
  width: 100%;
}
// -------BLİNDS.HTML-----END----



