@import url(reset.scss);
@import url(sunroomvariables.scss);

.header-page-2 {
    z-index: 999999;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
     background-color: rgba(255, 255, 255, 0.717);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
  }
  .group {
    display: flex;
    align-items: center;
  }
  header ul {
    position: relative;
    display: flex;
    gap: 30px;
  }
  header ul li {
    list-style: none;
  }
  header ul li a {
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  header ul li a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
  }
  header ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
  header .search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 10;
    cursor: pointer;
  }
  
  .searchBox {
    position: absolute;
    right: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
  
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;
  }
  .searchBox.active {
    right: 0;
  }
  .searchBox input {
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    color: black;
    font-size: 1.25em;
    background-color: white;
    // background-color: #79838d8e;
  
  
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  .searchBtn {
    position: relative;
    color: black;
    left: 30px;
    top: 2.5px;
    transition: 0.5s ease-in-out;
  }
  .searchBtn.active {
    color: #333;
    left: 0;
  }
  .closeBtn {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    scale: 0;
  }
  .closeBtn.active {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1;
  }
  .menuToggle {
    position: relative;
    display: none;
  }
  
  input::placeholder{
    color: #ffffffaf;
    
  }
  
  // --------HEADER--SECTİON----END---

//   ---------SUNROOM-HEAD-2--START---
.sunroom-head-2-box{
    display: flex;
    flex-direction: column;
    gap: 7rem;
    padding: 60px 120px;
}
.box-text-1{
    color: #333;

font-family: "San Francisco";
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: 115%; /* 82.8px */
text-transform: capitalize;
}
.box-text-3{
    color: #333;

font-family: "San Francisco";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 30px */
}
.box-2-text{
    color: #333;
text-align: right;

font-family: "San Francisco";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 30px */
margin-left: 1rem;
 padding-top: 1rem
}
//   ---------SUNROOM-HEAD-2--END---
